*{
    margin: 0;
    padding: 0;
    

}
body{
    background: rgba(0 ,0, 0, 0.3) url('../img/w/lon.jpg');
    background-blend-mode: darken;
    
    
}



.gift img{
    position: absolute;
    width: 90px;
    top: 640px;
    left: 150px;
    
}
.title{
    position: absolute;
    width: 25rem;
    color: rgb(195, 195, 235);
    font-family: 'Yellowtail', cursive;
    font-size: 4rem;
    font-weight: bold;
    left: 1.5rem;
    top: 7rem;
}
.g{
    position: absolute;
    width: 25rem;
    color: rgb(195, 195, 235);
    font-family: 'Yellowtail', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    left: 5.5rem;
    top: 37rem;
}
