*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 393px;
}

.p1 img{
    position: absolute;
    
    
}



.bon{
    position: absolute;
    top: 590px;
    font-size: 50px;
    padding-top: 20px;
    left: 80px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
}
.p2i{
    position: absolute;
    top: 650px;
    font-size: 50px;
    padding-top: 50px;
    left: 60px;
    font-family: 'Sacramento', cursive;
        
}
.f-img img{

    position: relative;
    width: 200px;
    top: 800px;
    left: 100px;

}

.play-btn img{
    width: 100px;
    position: absolute;
    top: 920px;
    cursor: pointer;
    left: 150px;
    transition: 0.5s;
}

.f-img1 img{

    position: relative;
    width: 200px;
    top: 960px;
    left: 100px;
    height: 250px;
    padding-top: 15px;

}

.play-btn1 img{
    width: 100px;
    position: absolute;
    top: 1400px;
    cursor: pointer;
    left: 150px;
    transition: 0.5s;
}    

.pbgif img{
    position: absolute;
    width: 160px;
    top: 1180px;
    left: 120px;
}




