*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 393px;
}

.p1 img{
    position: absolute;
    
    
}

.p2{
    position: absolute;
    top: 600px;
    font-size: 44px;
    left: 100px;
    font-family: 'Secular One', sans-serif;

}
.p2i{
    position: absolute;
    top: 650px;
    font-size: 50px;
    padding-top: 20px;
    left: 60px;
    font-family: 'Sacramento', cursive;
        
}
.f-img img{

    position: relative;
    width: 200px;
    top: 800px;
    left: 100px;

}
.f-img1 img{

    position: relative;
    width: 200px;
    top: 960px;
    left: 100px;
    height: 250px;
    padding-top: 15px;

}
.video-player .pb{
    position: relative;
    width: 100px;
    top: 580px;
    left: 170px;
}
.pb1{
    position: relative;
    width: 100px;
    top: 800px;
    left: 170px;
    
}
.pbgif img{
    position: relative;
    width: 160px;
    top: 450px;
    left: 120px;
}
.bottom{
    position: relative;
    top: 1000px;
}
.video-player{

    position: relative;
    left: 197.19px;
    height: 100px;
    transform: translate(-50%,-50%);
    display: none;
    
}
#cross{
    position: relative;
    width: 100px;
    top: -295px;
    left: 363px;
}
.play-btn img{
    position: absolute;
    width: 70px;
    top: 950px;
    left: 165px;
}
.close-btn{

    position: absolute;
    width: 30px;
    top: 10px;
    left: 355px;
}

