*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url(../img/w/song.jpg);
}

.ins{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transform: rotate(270deg);
    position: absolute;
    left: -60px;
    top: 350px;
    
}
.title{
    position: absolute;
    width: 24rem;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    top: 2rem;
    left: 1.6rem;

}
.music{
    position: absolute;
    top: 42.8rem;
    left: 3rem;
    
}
.next a{
    position: absolute;
    top: 46.8rem;
    left: 22rem;
    font-size: 2rem;
    text-decoration: none;
}
.next1{
    position: absolute;
    top: 47rem;
    left: 18.8rem;
    font-size: 1.5rem;
    font-weight: bold;

}
.home a{
    position: absolute;
    top: 47rem;
    left: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
}
.home1{
    position: absolute;
    top: 47.4rem;
    left: 2.8rem;
    font-size: 1.2rem;
    font-weight: bold;

}
