body{
    position: relative;
    width: 360px;
    height: 640px;
    background: #b2b9d8;
    }
.round{
    position: absolute;
    width: 90px;
    height: 94px;
    left: 108px;
    top: -39px;
    
    background: #b2b9d8;
    border: 12px solid #F93E5F;
    border-radius: 50px;
    box-sizing: border-box;
    animation: bounce 3s infinite ease-in;
}
@keyframes bounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
}

.sidenav .s1{
    padding: 0;    
    position: absolute;
    width: 32px;
    height: 0px;
    left: 316px;
    top: 23px;
    border: 3px solid #000000;
}

.sidenav .s2{
    position: absolute;
    width: 32px;
    height: 0px;
    left: 316px;
    top: 12px;
    
    border: 3.5px solid #000000;
}
.sidenav .s3{
        position: absolute;
        width: 32px;
        height: 0px;
        left: 316px;
        top: 32px;
        
        border: 3.5px solid #000000;     
}
.triangle{
    position: relative;
    width: 0px;
    height: 0px;
    left: 30.01px;
    top: 205.61px;
    content: " ";

    background: #b2b9d8;
    border-top: 70px solid transparent;
    border-left: 30px solid #5ac529;
    border-bottom: 35px solid transparent;
    box-sizing: border-box;
    transform: rotate(-98.09deg);
    opacity: 0.5;
    animation: rotateb 3s infinite ease-in;
    }
@keyframes rotateb{
        0%{
            transform: rotate(200deg);
        }
        50%{
            transform: rotate(340deg);
        }
        100%{
            transform: rotate(200deg);
        }
}    
.triangle1{
    position: relative;
    width: 0;
    height: 9.27px;
    left: 30.01px;
    top: 90.61px;
    content: " ";
    
   
    background: #b2b9d8;
    border-top: 70px solid transparent;
    border-left: 30px solid #5ac529;
    border-bottom: 30px solid transparent;
    box-sizing: border-box;
    transform: rotate(-98.09deg);
    animation: rotate 3s infinite ease-in;
}
@keyframes rotate{
    0%{
        transform: rotate(200deg);
    }
    50%{
        transform: rotate(340deg);
    }
    100%{
        transform: rotate(200deg);
    }
}
.text{
position: absolute;
width: 200.43px;
height: 55.87px;
left: 77.88px;
top: 300px;

font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 32px;
letter-spacing: -0.02em;

color: #000000;

transform: rotate(0.9deg);
}
.name{
position: absolute;
width: 201px;
height: 69px;
left: 75px;
top: 340px;

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 69px;
letter-spacing: -0.02em;

color: #94396A;
}
.ballon{
position: absolute;
width: 66px;
height: 105px;
left: 267px;
top: 113px;
border-radius: 50%;
background: #FF9A50;
animation: up 3s infinite ease-in;
}
@keyframes up{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }   
}
.str{
position: absolute;
width: 0px;
height: 60px;
left: 300px;
top: 218px;
border: 1px solid #0f0f0f;
animation: up1 3s infinite ease-in;
}
@keyframes up1{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }   
}

.circle{
position: absolute;
width: 50%;
height: 28%;
left: 101px;
top: 409px;
}
.circle img{
    width: 95%;
    border-radius: 50%;
    height: 100%;
}body{
    position: relative;
    width: 360px;
    height: 640px;
    background: #b2b9d8;
    }
.round{
    position: absolute;
    width: 90px;
    height: 94px;
    left: 108px;
    top: -39px;
    
    background: #b2b9d8;
    border: 12px solid #F93E5F;
    border-radius: 50px;
    box-sizing: border-box;
    animation: bounce 3s infinite ease-in;
}
@keyframes bounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
}

.sidenav .s1{
    padding: 0;    
    position: absolute;
    width: 32px;
    height: 0px;
    left: 316px;
    top: 23px;
    border: 3px solid #000000;
}

.sidenav .s2{
    position: absolute;
    width: 32px;
    height: 0px;
    left: 316px;
    top: 12px;
    
    border: 3.5px solid #000000;
}
.sidenav .s3{
        position: absolute;
        width: 32px;
        height: 0px;
        left: 316px;
        top: 32px;
        
        border: 3.5px solid #000000;     
}
.triangle{
    position: relative;
    width: 0px;
    height: 0px;
    left: 30.01px;
    top: 205.61px;
    content: " ";

    background: #b2b9d8;
    border-top: 70px solid transparent;
    border-left: 30px solid #5ac529;
    border-bottom: 35px solid transparent;
    box-sizing: border-box;
    transform: rotate(-98.09deg);
    opacity: 0.5;
    animation: rotateb 3s infinite ease-in;
    }
@keyframes rotateb{
        0%{
            transform: rotate(200deg);
        }
        50%{
            transform: rotate(340deg);
        }
        100%{
            transform: rotate(200deg);
        }
}    
.triangle1{
    position: relative;
    width: 0;
    height: 9.27px;
    left: 30.01px;
    top: 90.61px;
    content: " ";
    
   
    background: #b2b9d8;
    border-top: 70px solid transparent;
    border-left: 30px solid #5ac529;
    border-bottom: 30px solid transparent;
    box-sizing: border-box;
    transform: rotate(-98.09deg);
    animation: rotate 3s infinite ease-in;
}
@keyframes rotate{
    0%{
        transform: rotate(200deg);
    }
    50%{
        transform: rotate(340deg);
    }
    100%{
        transform: rotate(200deg);
    }
}
.text{
position: absolute;
width: 200.43px;
height: 55.87px;
left: 77.88px;
top: 300px;

font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 32px;
letter-spacing: -0.02em;

color: #000000;

transform: rotate(0.9deg);
}
.name{
position: absolute;
width: 201px;
height: 69px;
left: 75px;
top: 340px;

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 69px;
letter-spacing: -0.02em;

color: #94396A;
}
.ballon{
position: absolute;
width: 66px;
height: 105px;
left: 267px;
top: 113px;
border-radius: 50%;
background: #FF9A50;
animation: up 3s infinite ease-in;
}
@keyframes up{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }   
}
.str{
position: absolute;
width: 0px;
height: 60px;
left: 300px;
top: 218px;
border: 1px solid #0f0f0f;
animation: up1 3s infinite ease-in;
}
@keyframes up1{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }   
}

.circle{
position: absolute;
width: 50%;
height: 28%;
left: 101px;
top: 409px;
}
.circle img{
    width: 95%;
    border-radius: 50%;
    height: 100%;
}